html{
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  display: none;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color:#eee;
  font-size: 15px;
  pointer-events: visiblePainted;
}
